{% extends "base.html" %}
{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Superintendencia de Administración Tributaria</h1>
    <p class="lead text-muted">Autorización de Documento Tributario Electrónico (DTE)</p>
    
    <div class="card bg-primary text-white mb-4">
      <div class="card-body">Cargar Autorización:</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <form method = "POST" enctype = "multipart/form-data">
            {% csrf_token %}
            <label for="archivo_entrada">Seleccionar Archivo:</label>
            <input type="file" id = "archivo_entrada" name = "archivo_entrada"/>
            <input class="btn btn-success btn-block" type="submit" value = "Enviar"/>
          </form>
        </div>
      </div>
    </div>
    <p>
      <select name="select_peticion" id = 'select_peticion'>
        <option value="1" selected>Consultar Datos</option>
        <option value="2" >Resumen de IVA</option>
        <option value="3">Resumen por rango de fechas</option>
      </select>
      <a class="btn btn-secondary my-2" onclick="obtener_valores_peticion()">Peticiones</a><br>
      <select name="select_ayuda" id = 'select_ayuda'>
        <option value="1" selected>Información Estudiante</option>
        <option value="2" >Documentación</option>
      </select>
      <a class="btn btn-secondary my-2" onclick="obtener_valores_ayuda()">Ayuda</a>
    </p>
  </div>
</section>
  
<div class="album py-5 bg-light">
  <div class="container">
    <a class="btn btn-danger btn-block" id = "reset" name = "reset" onclick = "eliminar()">Reset</a>
    <button type="button" class="btn btn-warning btn-block" onClick="obtener_dato22222()">Guardar Datos</button></a>
    <div class="row">
      <div class="card-body">
        <textarea class="resizable" rows="10" cols="50" type="text" id = "txt_entrada" name = "txt_entrada" disabled>{{respuesta.contenido}}</textarea>
        <textarea class="resizable" rows="10" cols="50" type="text" id = "txt_salida" name = "txt_salida" disabled></textarea>
      </div>
    </div>
  </div>
</div>
<script>
  const url = "http://localhost:3000/";
    
  async function eliminar(){
    let respuesta = await fetch(url + "reset_autorizaciones",{
      method: 'POST',
      body: 0,
      headers: {'Content-Type': 'application/json'}
    }).catch(function(error){
      console.log(error)
    });
    document.getElementById("txt_entrada").value = "";
    document.getElementById("txt_salida").value = "";
  }

  function obtener_salida(){
    var ruta = url + 'obtener_datos';
    const parametros = {
      headers:{
        'content-type':'application/json; charset=utf-8'
      },
      body: 0,
      method: 'POST',
    };
    fetch(ruta, parametros)
    .then(data=>{ return data.json()})
    .then(res=>{
      console.log(res);
      $("#txt_salida").val(res);
    })
    .then(error=>console.log(error))
  }

  function obtener_valores_peticion(){
    var valor = $("#select_peticion").val();
    switch (valor) {
      case '1':
        obtener_salida();
        break;
      case '2':
        window.location.href = "resumen_iva"
        break;
      case '3':
        window.location.href = "rango"
        break;   
    }
  }

  function obtener_valores_ayuda(){
    var valor = $("#select_ayuda").val();
    switch (valor) {
      case '1':
        datos_estudiante();
        break;
      case '2':
        console.log(2);
        break;
      }        
    }  

  function datos_estudiante(){
    contenido = 
      "    > Información Estudiante\n"+
      "        > Arnoldo Luis Antonio González Camey\n"+
      "        > Carné: 201701548\n"+
      "        > Introducción a la Programación y Computación 2\n"+
      '        > Sección "D"\n'+
      "        > Ingeniería en Ciencias y Sistemas\n"+
      "        > 4to Semestre";
      alert(contenido);
  }  

  function crearPDF(){
    var pdf = new jsPDF();
    pdf.fromHTML($('#txt_salida').get(0),10,10,{'width':180});
    pdf.autoPrint();
    pdf.output("dataurlnewwindow")
  }

</script>
{% endblock content %}